
#dimensionicopertina{
    height: 500px;
    
    
}
    

#coloreprofilo{
    color:brown;
}

#coloreinteressi{
    color:brown;
}

#colorecontatti{
    color:brown;
}

#colorecliccaqui{
    background-color:brown;
    width: 50px;
    color: white;
}

#logolinkedin{
    height: 40px;
    width: 50px;
    
}

